/* after intiiating new git repo 
1. git remote add origin https://github.com/AZabava/excursion.git
2. git push -u origin master*/
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}