/* after intiiating new git repo 
1. git remote add origin https://github.com/AZabava/excursion.git
2. git push -u origin master*/
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main { /*.component-name = main*/
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link--cta { /*.component--name =cta stands = call for action*/
    color:aquamarine;
    font-size: 16px;
}