/* after intiiating new git repo 
1. git remote add origin https://github.com/AZabava/excursion.git
2. git push -u origin master*/
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Headers*/

.header--main { /*.component-name = main*/
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary {
    font-weight: 300px;
    font-size: 42px;
    color:white; 

.header--sub-header {
    font-size: 21px;
    color:grey; 
}

/*Links*/

.link--cta { /*.component--name =cta stands = call for action*/
    color:aquamarine;
    font-size: 16px;
}